.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.02);
  transition: all 0.2s;
}

textarea:focus {
  outline: 2px solid #58a6ff;
}
